.background {
  background-color: rgb(2, 2, 2, 0.5);
  width: 100%;
  height: 90vh;
  position: absolute;
  left: 0;
  top: 0;
  /* cursor: pointer; */
  z-index: 50;
  overflow: hidden;
}

.form-container {
  /* ; */
  width: 100%;
  height: 90vh;
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0;
  left: 0;
  top: 0;
}

.form-error-box {
  position: relative;
  width: 100%;
  z-index: 5000;
}

.error-container-form {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 5000;
  right: 120px;
  padding-top: 1em;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex-reset {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.sub-close {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
  gap: 35%;
}

.close-btn {
  cursor: pointer;
  background: transparent;
  border: 3px solid white;
  padding: 0.5em 2em;
  color: rgb(255, 84, 84);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.form-loading {
  color: orange;
}

/* .close-btn:hover {
  background-color: rgb(255, 84, 84);
  border: 3px solid rgb(255, 84, 84);
  color: white;
} */

.form-scroll {
  background-color: #4b4646;
  width: 30%;
  padding: 6rem 3rem 0px;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 10px;
  position: relative;
  scrollbar-width: none;
  z-index: 55;
}

.form-scroll::-webkit-scrollbar {
  background: transparent;
}

.add-song-form {
  position: relative;
  bottom: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.song-name {
  margin-top: 0;
}

.name-label {
  display: flex;
  margin-bottom: 0.5em;
  margin-top: 0.7em;
  color: white;
  font-weight: 600;
}

.submit-btn {
  align-self: center;
  background: transparent;
  border: 3px solid white;
  /* padding: 0.5em 2em; */
  color: rgb(76, 187, 74);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

/* .submit-btn:hover {
  color: white;
  background-color: rgb(76, 187, 74);
  border: 3px solid rgb(76, 187, 74);
} */

.audio-file {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top: 20px;
  margin-right: 1em;
  font-size: 1rem;
  cursor: pointer;
  /* padding: 4px 6px; */
}

/* .audio-file:hover {
  border: 3px solid rgb(76, 187, 74);
  color: white;
  background-color: rgb(76, 187, 74);
} */

.input-text {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  /* padding: 0.3em; */
  margin-bottom: 1em;
  border: 2px solid gray;
  width: 100%;
  transition: 0.5s;
}

.input-text:focus {
  /* border-style: solid; */
  /* border-color: rgb(76, 187, 74);
  border-width: 1px; */
  outline: none;
  border: 2px solid rgb(76, 187, 74);
}

.file-upload {
  cursor: pointer;
  display: none;
}

.music-folder-icon {
  font-size: 2rem;
  margin-left: 0.2em;
}

.upload-success {
  /* height: 100%;
  width: 100%; */
  background-color: #4b4646;
  padding: 2rem 6rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 2rem;
  flex-direction: column;
  cursor: pointer;
  z-index: 55;
}

.tick {
  font-size: 7rem;
  color: rgb(76, 187, 74);
}

.cross {
  font-size: 7rem;
  color: rgb(212, 74, 74);
}

.upload-error {
  background-color: #4b4646;
  padding: 2rem 3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 2rem;
  flex-direction: column;
  cursor: pointer;
  z-index: 55;
}

.upload-success {
  color: white;
}

.success-text {
  color: white;
}

.error-msg {
  color: rgb(174, 174, 174);
  font-size: 0.3em;
}

.close-p {
  color: rgb(255, 84, 84);
  margin: 0;
  font-size: 12px;
}

.search-dropdown {
  z-index: 10;
  background-color: rgb(60, 60, 60);
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 5px 5px;
}

.type-dropdown {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  border: 2px solid gray;
  width: 100%;
  padding: 0.3em;
  transition: 0.5s;
  cursor: pointer;
  /* color: white; */
}

.type-option {
  background-color: rgb(50, 50, 50);
  transition: 0.2s;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.type-option:hover {
  background-color: rgb(93, 93, 93);
}

.search-suggestion {
  height: 20px;
  width: 100%;
  font-size: 1rem;
  padding: 0.2em 0 1.8em 0.5em;
  /* background-color: rgb(101, 99, 99); */
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  transition: 0.2s;
  color: rgb(255, 255, 255);
}

.search-suggestion:hover {
  background-color: rgb(93, 93, 93);
  border-radius: 0 0 5px 5px;
}

.field-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.audio-file-related {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.smalltick {
  font-size: 2.5em;
  position: relative;
  top: 0px;
}

.file-selected {
  color: white;
}

.image-wrapper {
  position: relative;
}

.uploaded-images {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 1em;
  position: relative;
  z-index: 55;
  padding: 1em;
  background-color: #4b4646;
  border-radius: 10px;
  max-height: 60%;
  min-height: 0;
  min-width: 0;
  align-items: center;
}

.order-btns-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  right: 0;
  margin-right: 0.6em;
  gap: 0.5em;
  z-index: 5;
}

.order-btns {
  background: none;
  border: none;
  font-size: 1.5em;
  align-self: center;
  color: rgb(254, 254, 254);
  cursor: pointer;
}

.image-index {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em 0.6em 0 0;
  background-color: rgb(253, 152, 45);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  z-index: 5;
}

.uploaded-images::-webkit-scrollbar {
  background-color: #292929;
  border-radius: 10px;
  width: 8px;
}

.uploaded-images::-webkit-scrollbar-thumb {
  background-color: #727272;
  border-radius: 10px;
}

.img-preview-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.open-image {
  background-color: orange;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  cursor: pointer;
  /* transition: 0.2s; */
}

.open-image:hover {
  background-color: rgb(224, 146, 1);
}

.open-image:active {
  transform: scale(0.99);
}

.img-hover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: 0.2s; */
  z-index: 5;
}

.add-image {
  background: none;
  border: none;
  font-size: 2.2em;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(195, 195, 195);
  transition: 0.2s;
}

.add-image:hover {
  color: rgb(216, 216, 216);
}

.add-image:active {
  transform: scale(0.98);
}

.remove-img-btn {
  background: none;
  border: none;
  font-size: 1.8em;
  align-self: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: absolute;
  top: 0;
  border-radius: 50%;
  z-index: 5;
}

.remove-img-btn:hover {
  color: rgb(228, 228, 228);
}

.remove-btn-container {
  width: 100%;
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  padding: 0.6em 0;
  border-radius: 0 0 10px 10px;
  position: relative;
  bottom: 2px;
}

.remove-btn {
  border: none;
  border-radius: 5px;
  padding: 0.4em 1em;
  background-color: rgb(255, 70, 70);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: rgb(230, 63, 63);
}

.remove-btn:active {
  transform: scale(0.98);
  /* background-color: rgb(216, 60, 60); */
}

@media screen and (max-width: 1400px) {
  .form-scroll {
    background-color: #4b4646;
    width: 40%;
    padding: 6rem 3rem 0px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    position: relative;
    scrollbar-width: none;
    z-index: 55;
  }
}
@media screen and (max-width: 1000px) {
  .form-scroll {
    background-color: #4b4646;
    /* height: 65%; */
    /* width: 20%; */
    width: 50%;
    padding: 6rem 3rem 0px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    position: relative;
    /* bottom: 1rem; */
    scrollbar-width: none;
    z-index: 55;
  }
}

@media screen and (max-width: 900px) {
  .form-scroll {
    background-color: #4b4646;
    /* height: 65%; */
    /* width: 20%; */
    width: 70%;
    padding: 6rem 3rem 0px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    position: relative;
    /* bottom: 1rem; */
    scrollbar-width: none;
    z-index: 55;
  }
}
