.image-viewer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.image-viewer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 500px;
}

.imageview-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 2em 0 0 0;
  /* color: rgba(116, 116, 116, 0.5); */
}

.lyrics-image {
  position: absolute;
  object-fit: cover;
  margin-top: 5em;
  padding-bottom: 5em;
}

.control-btn-group {
  position: fixed;
  bottom: 120px;
  background-color: rgb(39, 39, 39);
  display: flex;
  gap: 0.5em;
  border-radius: 5px;
}

.control-btns {
  border-radius: 5px;
  padding: 0.4em;
  background-color: rgb(39, 39, 39);
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
}

.control-btns:hover {
  background-color: rgb(114, 114, 114);
}

.control-btns:active {
  transform: scale(0.98);
}

.image-control-buttons {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  transition: 0.2s;
  display: flex;
  position: relative;
  z-index: 50;
}

.pagination-btns {
  background-color: rgb(45, 45, 45);
  border-radius: 50%;
  padding: 0.5em;
  align-self: center;
}

.zoomper {
  color: white;
  padding: 0 1em 0 0;
  font-size: 0.8em;
}

.close-btn-image {
  font-size: 2em;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em 2em;
}

.image-control-buttons:hover {
  transform: scale(1.1);
}

.image-control-buttons:active {
  transform: scale(0.98);
}

.close-image-viewer {
  color: white !important;
  font-size: 2em !important;
  position: absolute !important;
  top: 0;
  right: 0;
  margin: 1em 2em 0 0 !important;
  z-index: 200 !important;
}
